{% extends "base.html" %}
{% block contant %}
    <main class="container">
        <div class="row">
            <section class="col-md-9 mb-2">
                <div class="row d-flex flex-row row-cols-1 row-cols-lg-2">
                    <div class="col d-flex flex-column justify-content-center">
                        <img src="https://i.pravatar.cc/350?u=da594f2b" alt="avatar" class="avatar rounded-circle">
                    </div>
                </div>
                <h1 class="h1">Blog posts by this author</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4 position-relative">
                    <article class="col">
                        <div class="card shadow">
                            <img src="https://loremflickr.com/320/240?random=1" alt="Blog post image"
                                 class="card-img-top">
                            <div class="card-body">
                                <strong class="fw-light">category</strong>
                                <h2 class="card-title">hydras volare!</h2>
                                <small>
                                    <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article
                                    Author</a>
                                    <i class="bi bi-calendar mx-1"></i><span>June 10, 2022</span>
                                </small>
                                <p class="card-text">With ghees drink pork butt sauce.</p>
                                <a href="blogpost.html" class="card-link text-body fw-bold">Continue reading...</a>
                            </div>
                        </div>
                    </article>
                    <article class="col">
                        <div class="card shadow">
                            <img src="https://loremflickr.com/320/240?random=2" alt="Blog post image"
                                 class="card-img-top">
                            <div class="card-body">
                                <strong class="fw-light">category</strong>
                                <h2 class="card-title">danistas mori!</h2>
                                <small>
                                    <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article
                                    Author</a>
                                    <i class="bi bi-calendar mx-1"></i><span>June 15, 2022</span>
                                </small>
                                <p class="card-text">Oysters combines greatly with delicious meatballs.</p>
                                <a href="blogpost.html" class="card-link text-body fw-bold">Continue reading...</a>
                            </div>
                        </div>
                    </article>
                    <article class="col">
                        <div class="card shadow">
                            <img src="https://loremflickr.com/320/240?random=3" alt="Blog post image"
                                 class="card-img-top">
                            <div class="card-body">
                                <strong class="fw-light">category</strong>
                                <h2 class="card-title">adelphiss persuadere!</h2>
                                <small>
                                    <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article
                                    Author</a>
                                    <i class="bi bi-calendar mx-1"></i><span>July 9, 2022</span>
                                </small>
                                <p class="card-text">Lettuce combines greatly with sichuan-style broccoli.</p>
                                <a href="blogpost.html" class="card-link text-body fw-bold">Continue reading...</a>
                            </div>
                        </div>
                    </article>
                    <article class="col">
                        <div class="card shadow">
                            <img src="https://loremflickr.com/320/240?random=4" alt="Blog post image"
                                 class="card-img-top">
                            <div class="card-body">
                                <strong class="fw-light">category</strong>
                                <h2 class="card-title">deuss studere!</h2>
                                <small>
                                    <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article
                                    Author</a>
                                    <i class="bi bi-calendar mx-1"></i><span>August 29, 2022</span>
                                </small>
                                <p class="card-text">Pork butt combines greatly with tasty ghee.</p>
                                <a href="blogpost.html" class="card-link text-body fw-bold">Continue reading...</a>
                            </div>
                        </div>
                    </article>
                    <article class="col">
                        <div class="card shadow">
                            <img src="https://loremflickr.com/320/240?random=5" alt="Blog post image"
                                 class="card-img-top">
                            <div class="card-body">
                                <strong class="fw-light">category</strong>
                                <h2 class="card-title">frondators velum!</h2>
                                <small>
                                    <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article
                                    Author</a>
                                    <i class="bi bi-calendar mx-1"></i><span>September 25, 2022</span>
                                </small>
                                <p class="card-text">With okras drink kefir.</p>
                                <a href="blogpost.html" class="card-link text-body fw-bold">Continue reading...</a>
                            </div>
                        </div>
                    </article>
                    <article class="col">
                        <div class="card shadow">
                            <img src="https://loremflickr.com/320/240?random=6" alt="Blog post image"
                                 class="card-img-top">
                            <div class="card-body">
                                <strong class="fw-light">category</strong>
                                <h2 class="card-title">eras manducare!</h2>
                                <small>
                                    <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article
                                    Author</a>
                                    <i class="bi bi-calendar mx-1"></i><span>October 29, 2022</span>
                                </small>
                                <p class="card-text">Popcorn combines greatly with tangy lettuce.</p>
                                <a href="blogpost.html" class="card-link text-body fw-bold">Continue reading...</a>
                            </div>
                        </div>
                    </article>
                    <article class="col">
                        <div class="card shadow">
                            <img src="https://loremflickr.com/320/240?random=7" alt="Blog post image"
                                 class="card-img-top">
                            <div class="card-body">
                                <strong class="fw-light">category</strong>
                                <h2 class="card-title">adelphiss congregabo!</h2>
                                <small>
                                    <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article
                                    Author</a>
                                    <i class="bi bi-calendar mx-1"></i><span>March 25, 2023</span>
                                </small>
                                <p class="card-text">Lettuce combines greatly with clammy sauerkraut.</p>
                                <a href="blogpost.html" class="card-link text-body fw-bold">Continue reading...</a>
                            </div>
                        </div>
                    </article>
                    <article class="col">
                        <div class="card shadow">
                            <img src="https://loremflickr.com/320/240?random=8" alt="Blog post image"
                                 class="card-img-top">
                            <div class="card-body">
                                <strong class="fw-light">category</strong>
                                <h2 class="card-title">gloss ortum!</h2>
                                <small>
                                    <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article
                                    Author</a>
                                    <i class="bi bi-calendar mx-1"></i><span>April 19, 2023</span>
                                </small>
                                <p class="card-text">With chilis drink kefir.</p>
                                <a href="blogpost.html" class="card-link text-body fw-bold">Continue reading...</a>
                            </div>
                        </div>
                    </article>
                    <article class="col">
                        <div class="card shadow">
                            <img src="https://loremflickr.com/320/240?random=9" alt="Blog post image"
                                 class="card-img-top">
                            <div class="card-body">
                                <strong class="fw-light">category</strong>
                                <h2 class="card-title">guttuss congregabo!</h2>
                                <small>
                                    <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article
                                    Author</a>
                                    <i class="bi bi-calendar mx-1"></i><span>May 9, 2023</span>
                                </small>
                                <p class="card-text">With chocolates drink kefir.</p>
                                <a href="blogpost.html" class="card-link text-body fw-bold">Continue reading...</a>
                            </div>
                        </div>
                    </article>
                    <article class="col">
                        <div class="card shadow">
                            <img src="https://loremflickr.com/320/240?random=10" alt="Blog post image"
                                 class="card-img-top">
                            <div class="card-body">
                                <strong class="fw-light">category</strong>
                                <h2 class="card-title">abactors velum!</h2>
                                <small>
                                    <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article
                                    Author</a>
                                    <i class="bi bi-calendar mx-1"></i><span>July 18, 2023</span>
                                </small>
                                <p class="card-text">With zucchinis drink vinegar.</p>
                                <a href="blogpost.html" class="card-link text-body fw-bold">Continue reading...</a>
                            </div>
                        </div>
                    </article>
                    <article class="col">
                        <div class="card shadow">
                            <img src="https://loremflickr.com/320/240?random=11" alt="Blog post image"
                                 class="card-img-top">
                            <div class="card-body">
                                <strong class="fw-light">category</strong>
                                <h2 class="card-title">advenas tolerare!</h2>
                                <small>
                                    <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article
                                    Author</a>
                                    <i class="bi bi-calendar mx-1"></i><span>August 11, 2023</span>
                                </small>
                                <p class="card-text">Truffels combines greatly with muddy tuna.</p>
                                <a href="blogpost.html" class="card-link text-body fw-bold">Continue reading...</a>
                            </div>
                        </div>
                    </article>
                    <article class="col">
                        <div class="card shadow">
                            <img src="https://loremflickr.com/320/240?random=12" alt="Blog post image"
                                 class="card-img-top">
                            <div class="card-body">
                                <strong class="fw-light">category</strong>
                                <h2 class="card-title">axonas peregrinationes!</h2>
                                <small>
                                    <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article
                                    Author</a>
                                    <i class="bi bi-calendar mx-1"></i><span>August 27, 2023</span>
                                </small>
                                <p class="card-text">Okra combines greatly with shredded ground beef.</p>
                                <a href="blogpost.html" class="card-link text-body fw-bold">Continue reading...</a>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            {% include "_sidebar.html" %}
        </div>
    </main>

{% endblock %}