{% extends "base.html" %}
{% block carousel %}
    {% include "_carousel.html" %}
{% endblock %}
{% block contant %}
    <main class="container">
        <div class="row">
            <section class="col-md-9 mb-2" role="main">
                <h1 class="h1">Blog posts</h1>
                <div class="row row-cols-1 row-cols-md-3 g-4 position-relative">
                    {% for post in posts %}
                        <article class="col">
                            <div class="card shadow">
                                <img src="https://loremflickr.com/320/240?random={{ forloop.counter }}"
                                     alt="Blog post image"
                                     class="card-img-top">
                                <div class="card-body">
                                    <strong class="fw-light">{{ post.category }}</strong>
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <small>
                                        <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article
                                        Author</a>
                                        <i class="bi bi-calendar mx-1"></i><span>{{ post.created|date:"j E Y" }}</span>
                                    </small>
                                    <p class="card-text">{{ post.content|truncatewords_html:15|safe }}</p>
                                    <a href="{% url "post-detail" post.slug %}" class="card-link text-body fw-bold">Continue reading...</a>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </section>
            {% include "_sidebar.html" %}
        </div>
    </main>
{% endblock %}
