{% extends "base.html" %}
{% block title %}Tasks List{% endblock %}
{% block content %}
    <div>
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item list-group-item-action" id="task-{{ task.id }}"><a
                        href="{% url "task-detail" task.id %}">{{ task.title }}</a>
                    <label for="completed-{{ forloop.counter }}"></label>
                    {% if task.completed %}
                        <input id="completed-{{ forloop.counter }}" type="checkbox" checked value="Completed">
                    {% else %}
                        <input id="completed-{{ forloop.counter }}" type="checkbox" value="Completed">
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
